# =========================
# Node.js (global)
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables (ALL apps)
# =========================
.env
.env.*
!.env.example

# =========================
# Build outputs
# =========================
dist/
build/
coverage/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
logs/
*.log
